{% extends 'student/studentbase.html' %}
{% block content %}
{%load static%}

<head>
    <script>

        document.addEventListener("contextmenu", function (e) {
              e.preventDefault();
            });
            history.pushState(null, null, window.location.href); window.onpopstate = function () { history.pushState(null, null, window.location.href); };  
          </script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style >
    .jumbotron {
     background-color: #f7f5f5;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
</style>

</head>
<br><br>
<div class="container my-4">
    <div class="jumbotron">

	      <h3 class="text-info text-center"></h3>

        <div class="row">

            <div class="card border-info mx-4 my-4">
                <div class="card-body text-info">
                   <h4 class="card-title">Exam Details :</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal;">
                            
                           
                            <li>Exam Note : {{course.exam_name}}</li>
                            <li>Exam Name : {{course.course_name}}</li>
                            <li>Total Question : {{total_questions}}</li>
                            <li>Total Marks : {{total_marks}}</li>
                            <li>Time : {{course.d_time}} Minutes</li>
                        </ul>
                        

                        <input type="text" id="secretKeyInput" placeholder="Enter Secret Key" style="height: 33px; border: 12px;border-color: rgb(214, 146, 44); width: 220px ;border-radius: 3px;">
                    <br>
                    <!-- Button to verify secret key -->
                    <button onclick="verifySecretKey()"  class="btn btn-primary"style=" background: #4bc71a;">Verify Secret Key</button>
                    
                    <!-- This link will be hidden initially and shown if secret key is correct -->
                    <a href="{% url 'start-exam' course.id  %}" id="startExamLink" style="display:none;" class="btn btn-info">Let's Start</a>
                    
                    <!-- Display error message if secret key is incorrect -->
                    <p id="errorMessage" style="color:red;"></p>
                    <p id="msg" style="color:red;"></p>
                    
                    <!-- <a href="{% url 'start-exam' course.id  %}" class="btn btn-info">Let's Start</a> -->
                </div>  
                <div class="card-footer">Best Of Luck</div>  
            </div>  
        </div>  

    </div>
</div>

<br><br><br><br><br><br>


<script>
  function verifySecretKey() {
      var inputSecretKey = document.getElementById("secretKeyInput").value;
      var actualSecretKey = "{{course.secret_key}}";
      
      if (inputSecretKey === actualSecretKey) {
          document.getElementById("startExamLink").style.display = "block";
          
          document.getElementById("errorMessage").innerHTML = "";
          document.getElementById("msg").innerHTML = "Pleace Do Not Opent New Tab";
          
      } else {
          document.getElementById("errorMessage").innerHTML = "Incorrect Secret Key";
      }
  }
</script>

{% endblock content %}