<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <script>

    document.addEventListener("contextmenu", function (e) {
      e.preventDefault();
    });
    history.pushState(null, null, window.location.href); window.onpopstate = function () { history.pushState(null, null, window.location.href); };  
  </script>
  <script>

    document.addEventListener("contextmenu", function (e) {
      e.preventDefault();
    });
    history.pushState(null, null, window.location.href); window.onpopstate = function () { history.pushState(null, null, window.location.href); };  
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">




</head>

<body>

  {% include "quiz/navbar.html" %}
  <br><br>

  <center>
    <h3 class='alert alert-success'>Send Us Your Valuable Feedback !</h3>

    
    
    <form method="POST" autocomplete="off">
      <!-- Very Important csrf Token -->
      {% csrf_token %}
      <div class="form-group">
        <p><br><br>
        <h3><b>Email Address</b></Address> => student@aau.in</h3>
        </p>
        <br>
        <p>
          <h3><b>Phone Number</b> => +91 90995 48997</h3>
          </p>
          <br><br><br><br><br><br><br><br>
      </div>
    </form>
  </center>


</body>

</html>
